body {
	font-family: 'Roboto', sans-serif;
	color:#333;
} 

img {
	max-width:100%;
	height: auto;
}

/* select all elements */
/*forces browser to honor declared with values instead of calculating */
* { 
	box-sizing: border-box; 
}
/* be selective over what is global, orange is safe b/c blue is bad for links, bold
wasn't used b/c some links (header) aren't bolded */
a {
	color:$mainOrange;
}

