.large-hero {
	position: relative;
	border-bottom: 10px solid $mainBlue;

	&__image {
		display:block; /* keeps white space away */
	}

	&__text-content{
		position: absolute;
		left: 0;
	/* centter text horiz */
		width:100%;
		text-align: center;
	/* center text vert.   top = top edge of div 50% down from top edge of nearest position ancestor.   */
		top: 50%; 
		transform: translateY(-50%); /* translateY position vertically relative to itself +moves down, - moves up */
	}

	&__title{ /* baseline for all screens */
		font-weight:300;
		color:$mainBlue;
		font-size: 2.4rem;
		margin:0;

		@mixin atSmall{ /* small text for 530px */
			font-size: 4.8rem;
		}
		/* 
		//these were over kill
		@mixin atMedium{
			font-size: 3.2rem; 
		}
		@mixin atLarge{
			font-size: 4.8rem; 
		} */
	}

	&__subtitle{
		font-weight:300;
		color:$mainBlue;
		font-size: 1.5rem;
		margin:0;

		@mixin atSmall{
			font-size: 2.9rem;
		}
	}
	
	&__description{
		color:#ffffff;
		font-size: 1.1rem;
		font-weight:100;
		text-shadow: 2px 2px 0 rgba(0,0,0, .1); /* 2px offset, 0 blur, 10% visible */
		max-width:30rem; /* want 2 lines of text, use REM to account for font size */
		margin-left:auto; /* center */
		margin-right:auto; /* center */

		@mixin atSmall{
			font-size: 1.875rem;
		}
	}
}