.site-header {	
	padding:10px 0;
	position:absolute; /*header needs to sit on top of large hero seciton. */
	width:100%; /* position:absolute chooses minimum width; */
	z-index: 2; /* add zindex otherwise hero section takes priority */
	transition:background-color .35s ease-out;
	/* so we can add bg color and trasnition to mobile nav */
	&--is-expanded{
		background-color: rgba($mainBlue, .55);
	}
	/* transparent blue bg, use mainBlue, 30% transparent */
	/* install postCSS plugin to convert css vars into rgba, update styles.js */
	@mixin atMedium{
		background-color: rgba($mainBlue, .3);  
	}

	&__btn-container{

		@mixin atMedium{
			float:right;
		}
	}

	&__logo{
		position:absolute; /* prevents logo from forcing transparent bg too tall */
		background-color: $mainBlue;
		padding:25px 35px;
		top: 0; /* keeps padding from site-header from moving logo down 10px */
		/* center logo for mobile */
		left:50%;
		/* add scale for smaller images that are sprites, .8 = 80% of original  
			scales from center of image, creating unwanted gaps.
			50% 50% = perfect horiz and vert
			50% 100% = middle of img horiz, bot of img vert
			50% 0% = middle of img horiz, top of img vert
		*/
		transform-origin: 50% 0%; /* top center is origin for scaling */
		transform:translateX(-50%) scale(.8);

		@mixin atMedium {
			left:auto;
			transform:translateX(0);
		}
	}

	&__logo__graphic{
		text-indent: -9999px; /* hidden text for seo and accessability, when using sprite */
	}

	&__menu-icon{
		z-index: 10; /* added b/c our zindex of -is-visible overrides */
		width:20px;
		height:20px;
		background-color:#ffffff;
		position:absolute;
		top:10px;
		right:10px;
		
		@mixin atMedium{
			display:none;
		}
	}

	&__menu-content{
		/* add 'zoom' effect */
		transform: scale(1.2);
		opacity: 0; /* instead of display:none so we can fade in */
		transition: all .3s ease-out; /* so the --is-visible eases in ALL content */
		position:relaive; /* anytime we use z-index we need relative so browse recognizes */
		z-index:-99; /* prevent user from clicking invisible content  */
		padding-top:90px; /* push mobile nav down  */
		text-align:center;

		@mixin atMedium{
			opacity:1; /* remove display:block; */
			z-index:1;
			padding-top:0;
			transform: scale(1);
		}

		&--is-visible{
			opacity:1; /* remove display:block; */
			z-index:1;
			transform: scale(1);
		}
	}
}