.site-header {	
	padding:10px 0;
	position:absolute; /*header needs to sit on top of large hero seciton. */
	width:100%; /* position:absolute chooses minimum width; */
	z-index: 2; /* add zindex otherwise hero section takes priority */
	transition:background-color .35s ease-out;
	/* so we can add bg color and trasnition to mobile nav */
	&--is-expanded{
		background-color: rgba($mainBlue, .55);
	}
	/* transparent blue bg, use mainBlue, 30% transparent */
	/* install postCSS plugin to convert css vars into rgba, update styles.js */
	@mixin atMedium{
		position:fixed; /* locks header to top of screen */
		background-color: rgba($mainBlue, .3);

		 &--dark {
		 	background-color: rgba(23, 51, 72, .85);
		 }
	}

	&__btn-container{

		@mixin atMedium{
			float:right;
		}
	}

	&__logo{
		position:absolute; /* prevents logo from forcing transparent bg too tall */
		background-color: $mainBlue;
		padding:25px 35px;
		top: 0; /* keeps padding from site-header from moving logo down 10px */
		/* center logo for mobile */
		left:50%;
		/* add scale for smaller images that are sprites, .8 = 80% of original  
			scales from center of image, creating unwanted gaps.
			50% 50% = perfect horiz and vert
			50% 100% = middle of img horiz, bot of img vert
			50% 0% = middle of img horiz, top of img vert
		*/
		transform:translateX(-50%) scale(.8);
		transition: transform .3s ease-out;
		transform-origin: 50% 0%; /* top center is origin for scaling */
		

		@mixin atMedium {
			left:auto;
			transform:translateX(0);

			.site-header--dark &{ /* target logo only when both classes are being used */
				transform: scale(.6);
			}
		}
	}

	&__logo__graphic{
		text-indent: -9999px; /* hidden text for seo and accessability, when using sprite */
	}

	&__menu-icon{
		z-index: 10; /* added b/c our zindex of -is-visible overrides */
		width:20px;
		height:19px;
		background-color:transparent;
		position:absolute;
		top:10px;
		right:10px;

		&::before{
			/* postion 1st bar top left */
			position:absolute;
			border:0 solid #fff;
			border-radius: 4px;
			top: 0;
			left:0;
			content: ""; /* content for pseudo elements */
			width:20px;
			height:3px;
			background-color:#fff;
			/* set origin so we can rotate only one side of the bar to create our X in --close-x class */
			/* default is 50% 50%, set top left as origin 0 0 */
			transform-origin: 0 0;
			/* add transition to smoothly go from 3 bar to X */
			transition: transform .3s ease-out;
		}

		&__bar{
			position:absolute;
			border:0 solid #fff;
			border-radius: 4px;
			top: 8px;
			left:0;
			width:20px;
			height:3px;
			background-color:#fff;
			/* fade width of middle bar out, updated in close-x */
			transform-origin: 0 50%;
			transition: all .35s ease-out;
		}

		&::after{
			position:absolute;
			border:0 solid #fff;
			border-radius: 4px;
			bottom: 0;
			left:0;
			content: "";
			width:20px;
			height:3px;
			background-color:#fff;
			/* set origin so we can rotate only one side of the bar to create our X in --close-x class */
			/* default is 50% 50%, set top BOTTOM as origin 0 100% */
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}
		@mixin atMedium{
			display:none;
		}
	}

	/* not nested in the existing menu-icon as a general rule not to nest more than 2 deep for clarity */
	&__menu-icon--close-x{
		&::before{
			/* rotate 45deg clockwise */
			/* transform origin by default is set to center, fix in base menu-icon ::before class */
			/* increase bar length to accomodate for diagonal position x=width y=height, 1 is default size */
			transform:rotate(45deg) scaleX(1.2);
		}
		.site-header__menu-icon__bar{
			opacity: 0;
			/* create effect where bar's width shrinks to 0 instead of abruptly disappearing, update baseline bar rule */
			transform:scaleX(0);
		}
		&::after{
			/* opposite from ::before */
			transform:rotate(-45deg) scaleX(1.2);
		}		
	}

	&__menu-content{
		/* add 'zoom' effect */

		transform: scale(1.2);
		opacity: 0; /* instead of display:none so we can fade in */
		transition: all .35s ease-out; /* so the --is-visible eases in ALL content */
		position:relative; /* anytime we use z-index we need relative so browse recognizes */
		z-index:-99; /* prevent user from clicking invisible content  */
		padding-top:90px; /* push mobile nav down  */
		text-align:center;

		@mixin atMedium{
			opacity:1; /* remove display:block; */
			z-index:1;
			padding-top:0;
			transform: scale(1);
		}

		&--is-visible{
			opacity:1; /* remove display:block; */
			z-index:1;
			transform: scale(1);
		}
	}
}